<div class="wrapper">
  <nav class="navbar">
    <h1 class="navbar__logo">
      <a class="navbar__header-link" routerLink="/">
        <img class="navbar__logo-img" src="../../../assets/images/icons/logo.svg" alt="logo image">
      </a>
    </h1>

    <ul class="navbar__items">
      <li class="navbar__item" *ngIf="isAuth">
        <a class="navbar__link navbar__link--create-btn" routerLinkActive="disabled" routerLink="/create-post">Add question</a>
      </li>
      <li class="navbar__item" *ngIf="!isAuth">
        <a class="navbar__link" routerLinkActive="disabled" routerLink="/login" >Sign In</a>
      </li>
      <li class="navbar__item" *ngIf="!isAuth">
        <a class="navbar__link" routerLinkActive="disabled" routerLink="/signup">Sign Up</a>
      </li>
      <li class="navbar__item navbar__menu" *ngIf="isAuth">
        <a class="navbar__menu-button" (click)="isVisible = !isVisible">
          <img class="navbar__menu-img" src="../../../assets/images/icons/user.svg" alt="user image">
          User
        </a>
        <div class="navbar__panel" *ngIf="isVisible">
          <a class="navbar__link navbar__panel-link">
            <img class="navbar__menu-img" src="../../../assets/images/icons/user-profile.svg" alt="user profile">Profile</a>
          <a class="navbar__link navbar__panel-link" (click)="logout()">
            <img class="navbar__menu-img" src="../../../assets/images/icons/logout.svg" alt="logout image">Logout</a>
        </div>
      </li>
    </ul>

  </nav>
</div>
