.wrapper {
  padding: 12px 20px;
  background: #FFFFFF;
  box-shadow: 0 0 3px 0 #cccccc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  &__logo-img {
    width: 60px;
    height: 60px;
  }
  &__items {
    list-style-type: none;
    display: flex;
  }
  &__link {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #2D2C2C;
    font-size: 14px;
    margin-right: 30px;
    transition: 0.3s ease-in-out;
    &--btn {
      background: none;
      border: none;
      padding: 2px;
    }
    &:hover {
      opacity: 0.8;
      border-bottom: 1px solid #2D2C2C;
    }
    &--create-btn {
      border: 1px solid #000000;
      text-transform: none;
      padding: 7px 15px;
      letter-spacing: 0.03em;
      &:hover {
        box-shadow: 0 0 3px 0 #2D2C2C;
      }
    }
  }
  &__menu {
    cursor: pointer;
  }
  &__menu-button {
    position: relative;
    display: flex;
    align-items: center;
    &:after {
      display: inline-block;
      content: "";
      margin-left: 25px;
      border: solid black;
      border-width: 0 2px 2px 0;
      width: 5px;
      height: 5px;
      transform: rotate(45deg);
    }
  }
  &__menu-img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  &__panel {
    position: absolute;
    right: 1.5%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: #FFFFFF;;
    padding: 15px 10px;
    box-shadow: 3px 3px 3px 3px #333333;
    max-width: inherit;
  }
  &__panel-link {
    margin-right: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.disabled {
  display: none;
}
