@import "../../../assets/styles/buttons";
.post {
  background: #FFFFFF;
  padding: 20px 10px;
  font-family: 'Poppins', sans-serif;
  width: 340px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  &__title {
    font-size: 20px;
    letter-spacing: 0.03em;
    word-break: break-word;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
  }
  &__info {
    width: 100%;
    margin: 20px 0 50px;
    border-top: 1px solid rgba(156,156,156, 0.2);
    border-bottom: 1px solid rgba(156,156,156, 0.2);
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__date {
    max-width: 30%;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #404040;
  }
  &__tags {
    max-width: 70%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  &__tag {
    margin-right: 15px;
    margin-top: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.8);
    padding: 2px 5px;
    border-radius: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__buttons {
    text-align: center;
  }
  @include button;
}
