<div class="container">
  <h2 class="title">Sign Up</h2>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__item">
      <input
        class="form__input"
        type="email"
        placeholder="example@gmail.com"
        formControlName="email"
      >
      <div class="form__messages"
           *ngIf="form.get('email').invalid && form.get('email').touched">
        <small class="form__err-message"
               *ngIf="form.get('email').errors.required"
        >Поле не может быть пустым</small>
        <small class="form__err-message"
               *ngIf="form.get('email').errors.email"
        >Неверный формат email</small>
      </div>
      <div class="form__messages"
           *ngIf="form.get('email').valid && form.get('email').touched">
        <small class="form__success-message">Успешно</small>
      </div>
    </div>

    <div class="form__item">
      <div class="form__container">
        <input
          class="form__input"
          type="password"
          id="password"
          placeholder="Password"
          formControlName="password"
        >
        <div class="form__errors"
             *ngIf="form.get('password').invalid && form.get('password').touched">
          <small class="form__err-message"
                 *ngIf="form.get('password').errors.required">
            Поле не может быть пустым</small>
          <small class="form__err-message"
            *ngIf="form.get('password').errors.minlength">
            Минимум {{form.get('password').errors.minlength.requiredLength}} символов.
            Сейчас {{form.get('password').errors.minlength.actualLength}}.
          </small>
        </div>
        <div class="form__messages"
             *ngIf="form.get('password').valid && form.get('password').touched">
          <small class="form__success-message">Успешно</small>
        </div>
      </div>
    </div>

    <div class="form__btn-container">
      <p class="form__sign-title">or Sign up with:</p>
      <div class="form__btns">
        <button class="form__button" type="button">
          <img class="form__btn-img" src="../../../assets/images/icons/google.svg" alt="google">
        </button>
        <button class="form__button" type="button">
          <img class="form__btn-img" src="../../../assets/images/icons/github.svg" alt="github">
        </button>
        <button class="form__button" type="button">
          <img class="form__btn-img" src="../../../assets/images/icons/facebook.svg" alt="facebook">
        </button>
      </div>
    </div>

    <div class="form__btn-wrap">
      <button class="form__submit" type="submit" [disabled]="form.invalid">Create my account</button>
    </div>

  </form>
</div>




