<div class="container">
  <h2 class="title">Sign Up</h2>
  <form class="form">
    <div class="form__item">
      <input
        class="form__input"
        type="email"
        placeholder="example@gmail.com"
      >
      <div class="form__messages">
        <!--          <small class="form__err-message">Поле не может быть пустым</small>-->
        <!--          <small class="form__err-message">Неверный формат email</small>-->
        <small class="form__success-message">Успешно</small>
      </div>
    </div>

    <div class="form__item">
      <div class="form__container">
        <input
          class="form__input"
          type="password"
          id="password"
          placeholder="Password"
        >
        <!--        <div class="form__errors">-->
        <!--          <small class="form__err-message">-->
        <!--            Поле не может быть пустым-->
        <!--          </small>-->
        <!--          <small>-->
        <!--            Минимум 6 символов.-->
        <!--            Сейчас 2.-->
        <!--          </small>-->
        <!--        <small class="form__success-message">Успешно</small>-->
        <!--        </div>-->
      </div>
    </div>

    <div class="form__btn-container">
      <p class="form__sign-title">or Sign up with:</p>
      <div class="form__btns">
        <button class="form__button" type="button">
          <img class="form__btn-img" src="../../../assets/images/icons/google.svg" alt="google">
        </button>
        <button class="form__button" type="button">
          <img class="form__btn-img" src="../../../assets/images/icons/github.svg" alt="github">
        </button>
        <button class="form__button" type="button">
          <img class="form__btn-img" src="../../../assets/images/icons/facebook.svg" alt="facebook">
        </button>
      </div>
    </div>

    <div class="form__btn-wrap">
      <button class="form__submit" type="submit">Create my account</button>
    </div>

  </form>
</div>




