@import "../../../assets/styles/buttons";
@import "../../../assets/styles/loading";
.post {
  font-family: 'Poppins', sans-serif;
  padding: 100px 70px;
  &__error {
    margin-bottom: 20px;
    border: 1px solid #dc3545;
    background: #dc3545;
    color: #ECEFF1;
    padding: 5px 10px;
    text-align: center;
  }
  &__header-info {
    display: flex;
    flex-direction: row;
  }
  &__author, &__date {
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #404040;
  }
  &__author {
    margin-right: 70px;
  }
  &__sub-info {
    margin: 30px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title-info {
    display: flex;
    align-items: center;
    max-width: 720px;
    width: 100%;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-right: 60px;
    width: 70%;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-decoration-line: underline;
    color: #404040;
  }
  &__link-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  &__text {
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    max-width: 720px;
    min-height: 220px;
    width: 100%;
    margin-bottom: 30px;
  }
  &__tags {
    list-style-type: none;
    display: flex
  }
  &__tag {
    margin-right: 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.8);
    padding: 2px 5px;
    border-radius: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  @include button;
}

// comments
.comments {
  font-family: 'Poppins', sans-serif;
  margin-top: 80px;
  //form
  &__form-wrapper {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  &__form-title, &__answers-title {
    font-size: 20px;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    color: #1C1B1B;
  }
  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__submit {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    min-width: 173px;
    padding: 12px 0;
    align-self: flex-end;
    &:disabled {
      box-shadow: none;
      background: transparent;
      color: #9C9C9C;
      border: 1px solid #9C9C9C;
      cursor: not-allowed;
    }
  }
  &__textarea {
    font-family: 'Poppins', sans-serif;
    outline: none;
    height: 200px;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    color: #292929;
    resize: none;
    margin: 40px 0 30px;
    &::placeholder {
      color: #9C9C9C;
    }
    &.ng-invalid.ng-touched {
      border: 1px solid #F20606
    }
    &.ng-valid.ng-touched {
      border: 1px solid #027700
    }
  }

  //answer
  &__answers-title {
    margin-bottom: 30px;
  }
  &__answers {
    list-style-type: none;
  }
  &__answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #C4C4C4;
    &:last-child {
      border-bottom: 1px solid #C4C4C4;
    }
  }
  &__info {
    display: flex;
  }
  &__image {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__username {
    font-size: 14px;
    color: #000000;
  }
  &__time {
    margin: 0 50px 0 15px;
    font-weight: normal;
    font-size: 12px;
    color: #7D7171;
  }
  &__best-answer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #027700;
    &:before {
      content: "\2714";
      display: inline-block;
      color: #027700;
      font-size: 20px;
      margin-right: 6px;
    }
  }
  &__text {
    max-width: 650px;
    width: 100%;
    font-size: 14px;
    color: #000000;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
  }
  &__delete {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    outline: none;
    background: none;
    border: none;
    font-size: 16px;
    color: #404040;
    margin-bottom: 20px;
    opacity: 0.8;
    cursor: pointer;
  }
  &__del-img {
    width: 18px;
    height: 20px;
    margin-right: 10px;
  }

  &__checkbox-title {
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #8A8484;
    display: flex;
    align-items: center;
  }

  &__checkbox + &__checkbox-title::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #BDBDBD;
    margin-right: 10px;
    transition: 0.3s ease;
  }

  &__checkbox:checked + &__checkbox-title::before {
    background: #333333;
  }

  &__checkbox {
    z-index: 0;
    opacity: 0;
    position: absolute;
  }

  &__checkbox:checked + &__checkbox-title {
    color: #000000;
  }
}
