<div class="post">
  <div class="post__container" *ngIf="post; else loading">
    <a class="post__go-back" routerLink="/">
      <span class="post__back-arrow"></span>
      Go Back
    </a>
    <div class="post__error" *ngIf="error">
      <p class="post__error-message">{{ error }}</p>
    </div>
    <div class="post__header-info">
      <p class="post__author">{{ post.author }}</p>
      <p class="post__date">{{ post.date | date: 'dd.MM.YYY' }}</p>
    </div>
    <div class="post__sub-info">
      <div class="post__title-info">
        <h2 class="post__title"> {{ post.title }}</h2>
        <a class="post__link"
           [routerLink]="['/edit-post', post.id]"
           *ngIf="(authService.user.isAdmin || authService.user.email === post.author) && post.isModeration">
          <img class="post__link-img" src="../../../assets/images/icons/edit%20icon.png" alt="edit">
          Edit question
        </a>
      </div>
      <div class="post__buttons">
        <button class="post__btn post__btn--approve" type="button" *ngIf="authService.user.isAdmin && post.isModeration">Approve</button>
        <button class="post__btn post__btn--delete"
                type="button"
                (click)="deletePost()"
                *ngIf="authService.user.email === post.author || authService.user.isAdmin"
        >Delete</button>
      </div>
    </div>
    <p class="post__text">
      {{ post.text }}
    </p>
    <ul class="post__tags">
      <li class="post__tag" *ngFor="let tag of post.tags" [ngStyle]="color">{{ tag }}</li>
    </ul>


    <div class="comments">
      <div class="comments__form-wrapper">
        <h3 class="comments__form-title">Add Answer</h3>
        <form class="comments__form" [formGroup]="form" (ngSubmit)="submit()">
          <textarea
            class="comments__textarea"
            placeholder="Type something..."
            formControlName="text"
          ></textarea>
          <div class="comments__btn-wrapper">
            <button type="submit" class="comments__submit" [disabled]="form.invalid">Add answer</button>
          </div>
        </form>
      </div>
      <div class="comments__answers-wrapper">
        <h3 class="comments__answers-title">Comments / answers</h3>
        <ul class="comments__answers" *ngIf="post.comments; else noComments">
          <li class="comments__answer" *ngFor="let comment of post.comments">
            <div class="comments__info">
              <img src="../../../assets/images/icons/comment-image.png" alt="profile image" class="comments__image">
              <div class="comments__main">
                <div class="comments__header">
                  <p class="comments__username">{{ comment.author }}</p>
                  <p class="comments__time">{{ comment.date | date: 'MMM d, y hh:mm' }}</p>
                  <p class="comments__best-answer" *ngIf="comment.isDecision">Best answer</p>
                </div>
                <p class="comments__text">
                  {{ comment.text }}
                </p>
              </div>
            </div>
            <div class="comments__buttons">
              <button class="comments__delete"
                      *ngIf="authService.user.email === post.author || authService.user.isAdmin"
                      (click)="deleteComment(comment.id)">
                <img class="comments__del-img" src="../../../assets/images/icons/trash.png" alt="">
                Delete
              </button>
              <input id="{{ comment.id }}"
                     type="checkbox"
                     class="comments__checkbox"
                     *ngIf="authService.user.email === post.author"
                     (click)="checkbox($event)"
                     [checked]="comment.isDecision"
              >
              <label *ngIf="authService.user.email === post.author" for="{{ comment.id }}" class="comments__checkbox-title">
                Resolve
              </label>
            </div>
          </li>
        </ul>
        <ng-template #noComments>
          Nobody has left a comment yet...
        </ng-template>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="post__error" *ngIf="error">
      <p class="post__error-message">{{ error }}</p>
    </div>
    <div class="loading">
      Loading
      <span class="load-span"></span>
    </div>
  </ng-template>
</div>
