<div class="post">
  <div class="post__container">
    <div class="post__header-info">
      <p class="post__author">{{ post.author }}</p>
      <p class="post__date">{{ post.date | date: 'dd.MM.YYY' }}</p>
    </div>
    <div class="post__sub-info">
      <h2 class="post__title"> {{ post.title }}</h2>
      <div class="post__buttons">
        <button class="post__btn post__btn--approve" type="button">Approve</button>
        <button class="post__btn post__btn--delete" type="button">Delete</button>
      </div>
    </div>
    <p class="post__text">
      {{ post.text }}
    </p>
    <ul class="post__tags">
      <li class="post__tag" *ngFor="let tag of post.tags">{{ tag }}</li>
    </ul>
  </div>
</div>
