<div class="question">
  <div class="question__container" *ngIf="form; else loading">
    <h2 class="question__title" >Edit Question</h2>
    <div class="question__line"></div>
      <form class="question__form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="question__item">
          <label for="title" class="question__form-title">Title</label>
          <div class="question__group">
            <input type="text"
                   id="title"
                   class="question__input"
                   formControlName="title">
            <div class="question__messages"
                 *ngIf="form.get('title').invalid && form.get('title').touched">
              <small class="question__err-message"
                     *ngIf="form.get('title').errors.required"
              >The field cannot be empty</small>
            </div>
            <div class="question__messages"
                 *ngIf="form.get('title').valid && form.get('title').touched">
              <small class="question__success-message">Success</small>
            </div>
            <div class="question__error-message"></div>
          </div>
        </div>
        <div class="question__item">
          <label for="text" class="question__form-title">Text</label>
          <div class="question__group">
            <textarea id="text"
                      class="question__textarea"
                      formControlName="text">
            </textarea>
            <div class="question__messages"
                 *ngIf="form.get('text').invalid && form.get('text').touched">
              <small class="question__err-message"
                     *ngIf="form.get('text').errors.required"
              >The field cannot be empty</small>
            </div>
            <div class="question__messages"
                 *ngIf="form.get('text').valid && form.get('text').touched">
              <small class="question__success-message">Success</small>
            </div>
            <div class="question__error-message"></div>
          </div>
        </div>

        <div class="question__item question__checkbox-items">
          <p class="question__form-title">Tags</p>
          <ul class="question__group question__tags">
            <li class="question__tags-item" *ngFor="let technology of technologies">
              <input id="{{ technology }}" [checked]="checked(technology)" type="checkbox" class="question__checkbox" value="{{ technology }}" (click)="addTagToForm($event)">
              <label for="{{ technology }}" class="question__checkbox-title">{{ technology }}</label>
            </li>
            <li class="question__tags-item">
              <div class="question__messages"
                   *ngIf="form.get('tags').invalid && form.get('tags').errors.required">
                <small class="question__err-message">
                  Select one of the categories</small>
              </div>
              <div class="question__messages" *ngIf="form.get('tags').valid">
                <small class="question__success-message">Success</small>
              </div>
            </li>
          </ul>
        </div>

        <div class="question__footer-buttons">
          <button class="question__btn question__btn--accept" type="submit" [disabled]="form.invalid || submitted">Update</button>
          <button class="question__btn question__btn--cancel" type="button" routerLink="/">Cancel</button>
        </div>
      </form>
  </div>

  <ng-template #loading>
    <div class="loading">
      Loading
      <span class="load-span"></span>
    </div>
  </ng-template>
</div>
