.wrapper {
  padding: 50px 20px 20px;
}

.home {
  &__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__btn {
    position: fixed;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
    width: 46px;
    height: 46px;
    display: inline-block;
    background:
      linear-gradient(#404040, #404040) top left,
      linear-gradient(#404040, #404040) top right,
      linear-gradient(#404040, #404040) bottom left,
      linear-gradient(#404040, #404040) bottom right;
    background-size: calc(50% - 1px) calc(50% - 1px);
    background-repeat: no-repeat;
    border: 10px solid #404040;
    box-sizing:border-box;
    border-radius: 50%;
  }
}

