<div class="wrapper">
  <div class="filters">
    <div class="filters__blocks">
      <div class="filters__block filters__block--filters">
        <div class="filters__block-name" (click)="isVisibleFilters = !isVisibleFilters">
          <a class="filters__filters">Filter</a>
          <span class="filters__arrow">&#10095;</span>
        </div>
        <ul class="filters__items" *ngIf="isVisibleFilters" [formGroup]="form">

          <li class="filters__item">
            <ul class="filters__tags">
              <li class="filters__tag">
                <button (click)="isMyQuestion = !isMyQuestion" type="button" class="filters__tag-button" [class.filters__tag-button--active]="isMyQuestion">My Questions</button>
              </li>
              <li class="filters__tag" *ngIf="authService.isAdmin">
                <button
                  type="button" class="filters__tag-button"
                  (click)="isModeration = !isModeration"
                  [class.filters__tag-button--active]="isModeration"
                  >On Moderation</button>
              </li>
            </ul>
          </li>

          <li class="filters__item">
            Questions:
            <select class="filters__select" formControlName="status">
              <option class="filters__option" value="answered">Answered</option>
              <option class="filters__option" value="unanswered">Unanswered</option>
              <option class="filters__option" value = "" selected>All questions</option>
            </select>
          </li>

          <li class="filters__item">
            Tags:
            <ul class="filters__tags">
              <li class="filters__tag" *ngFor="let tag of tags">
                <input class="filters__tag-checkbox" value="{{ tag }}" type="checkbox" id="{{ tag }}" (click)="addTagToForm($event)" [checked]="checkedButton(tag)">
                <label class="filters__tag-button" for="{{ tag }}"> {{ tag }} </label>
              </li>
            </ul>
          </li>

          <li class="filters__item">
            For the period:
            <select class="filters__select" formControlName="period">
              <option class="filters__option" value="1">Day</option>
              <option class="filters__option" value="7">Last week</option>
              <option class="filters__option" value="31">Last month</option>
              <option class="filters__option" value = "0" selected>All time</option>
            </select>
          </li>

        </ul>
      </div>
      <div class="filters__block filters__block--sort">
        <div class="filters__block-name" (click)="isVisibleSort = !isVisibleSort">
          <a class="filters__sort">Sort</a>
          <span class="filters__arrow">&#10095;</span>
        </div>

        <ul class="filters__items" *ngIf="isVisibleSort">
          <li class="filters__item">
            <a class="filters__link" (click)="isSortArgs = false">From oldest to newest</a>
          </li>
          <li class="filters__item">
            <a class="filters__link" (click)="isSortArgs = true">From newest to oldest</a>
          </li>
        </ul>
      </div>
      <div class="filters__block filters__block--buttons">
        <button class="filters__btn filters__btn--block" (click)="displayQuestion = 'block'">
          <span class="filters__vertical-line"></span>
          <span class="filters__horizontal-line"></span>
        </button>
        <button class="filters__btn filters__btn--burger" (click)="displayQuestion = 'line'">
          <span class="filters__button-line"></span>
          <span class="filters__button-line"></span>
          <span class="filters__button-line"></span>
        </button>
        <label class="filters--btn filters__button-color">
          <input class="filters__color-input" type="color" (input)="getColor($event)">
        </label>
      </div>
    </div>
  </div>

  <div class="home" *ngIf="posts; else loading">
    <div class="home__posts-{{ displayQuestion }}">
      <app-post
        (onDelete)="updatePosts($event)"
        (onApprove)="updatePosts($event)"
        *ngFor="let post of (posts | answeredUnanswered: form.get('status').value | tagFilter: form.get('tags').value | dateSort: isSortArgs | myQuestions: isMyQuestion | onModeration: isModeration | dateFilter: form.get('period').value);"
        [post] = post
        [display]="displayQuestion">
        ></app-post>
    </div>
    <a class="home__btn" type="button" routerLink="/create-post"></a>
  </div>
  <ng-template #loading>
    <div class="loading">
      Loading
      <span class="load-span"></span>
    </div>
  </ng-template>
</div>
