@import "../../assets/styles/loading";

//filters
.filters{
  margin-bottom: 60px;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  &__tags {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  &__tag {
    margin-top: 5px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__tag-button {
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.8);
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    &--all {
      background: #dc3545;
    }
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    display: flex;
    align-items: center;
    width: (100% / 3);
    margin-right: 30px;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #000000;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
  &__block--sort {
    position: relative;
    &:after {
      display: inline-block;
      content: " \276F";
      margin-left: 10px;
      font-size: 14px;
      font-weight: bold;
      transform: rotate(90deg);
    }
  }
  &__block--filters {
    position: relative;
    &:after {
      display: inline-block;
      content: "\276F";
      margin-left: 10px;
      font-size: 14px;
      font-weight: bold;
      transform: rotate(90deg);
    }
  }
  &__block--buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__items {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: #FFFFFF;;
    padding: 15px 30px;
    box-shadow: 3px 3px 3px 3px #333333;
  }
  &__item {
    list-style-type: disc;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-family: 'Poppins', sans-serif;
    &:hover {
      opacity: 0.4;
    }
  }
}

.wrapper {
  padding: 50px 70px 20px;
  min-height: 100vh;
  height: 100%;
}

app-post {
  margin: 0 15px 30px;
}

.home {
  &__posts {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-evenly;
    //display: flex;
    //flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    //align-items: stretch;
  }
  // plus btn
  &__btn {
    position: fixed;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
    width: 46px;
    height: 46px;
    display: inline-block;
    background:
      linear-gradient(#404040, #404040) top left,
      linear-gradient(#404040, #404040) top right,
      linear-gradient(#404040, #404040) bottom left,
      linear-gradient(#404040, #404040) bottom right;
    background-size: calc(50% - 1px) calc(50% - 1px);
    background-repeat: no-repeat;
    border: 10px solid #404040;
    box-sizing:border-box;
    border-radius: 50%;
  }

  //loading

}

