<div class="wrapper">
  <div class="filters">
    <div class="filters__blocks">
      <div class="filters__block filters__block--filters" (click)="isVisibleFilters = !isVisibleFilters">
        <a class="filters__filters">Filter</a>
        <ul class="filters__items" *ngIf="isVisibleFilters">

          <li class="filters__item">
            Tags:
            <ul class="filters__tags">
              <li class="filters__tag" *ngFor="let tag of tags">
                <button class="filters__tag-button" type="button" (click)="tagValue = tag">{{ tag }}</button>
              </li>
              <li class="filters__tag">
                <button class="filters__tag-button filters__tag-button--all" type="button" (click)="tagValue = ''">All tags</button>
              </li>
            </ul>
          </li>

          <li class="filters__item">
            For the period:
            <ul class="filters__tags">
              <li class="filters__tag" *ngFor="let period of periods">
                <button class="filters__tag-button" type="button" (click)="periodValue = period">{{ period }}</button>
              </li>
            </ul>
          </li>

        </ul>
      </div>
      <div class="filters__block filters__block--sort" (click)="isVisibleSort = !isVisibleSort">
        <a class="filters__sort">Sort</a>
        <ul class="filters__items" *ngIf="isVisibleSort">
          <li class="filters__item">
            <a class="filters__link" (click)="isSort = false">From oldest to newest</a>
          </li>
          <li class="filters__item">
            <a class="filters__link" (click)="isSort = true">From newest to oldest</a>
          </li>
        </ul>
      </div>
      <div class="filters__block filters__block--buttons">
        <button class="filters__btn">A</button>
        <button class="filters__btn">B</button>
        <button class="filters__btn">C</button>
      </div>
    </div>
  </div>

  <div class="home" *ngIf="posts; else loading">
    <div class="home__posts">
      <app-post
        (onDelete)="updatePosts($event)"
        *ngFor="let post of (posts | tagFilter: tagValue | dateSort: isSort| dateFilter: periodValue);"
        [post] = post>
        ></app-post>
    </div>
    <a class="home__btn" type="button" routerLink="/create-post"></a>
  </div>
  <ng-template #loading>
    <div class="loading">
      Loading
      <span class="load-span"></span>
    </div>
  </ng-template>
</div>
